<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FAMP小微企业项目管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/i/famp-brand.png">
    <link rel="stylesheet" href="/static/css/amazeui.css">
    <link rel="stylesheet" href="/static/css/app.css">
    {block name="css"}{/block}
</head>
<body>
<div class="am-layout">
    <aside class="sidebar">
        <div class="sidebar-brand">
            <a href="/"><img src="/static/i/famp-brand.svg" height="30"> <span>小微企业项目管理</span></a>
        </div>
        <ul class="am-list am-list-collapse" id="sidebar-menu">
            {volist name="menus" id="vo"}
                {empty name="vo.child"}
            <li class="no-children {neq name="vo.name" value="index/index"}{eq name="menu.cur.id" value="$vo.id"}am-active{/eq}{/neq}">
                <a href="{$vo.name|url}">
                    <i class="{$vo.icon}"></i> <span>{$vo.title}</span>
                </a>
            </li>
                {else/}
            <li class="am-panel {eq name="menu.top.id" value="$vo.id"}am-active{/eq}">
                <a data-am-collapse="{parent: '#sidebar-menu', target: '#auth-id-{$vo.id}'}">
                    <i class="{$vo.icon}"></i> <b>{$vo.title}</b>
                    <i class="am-icon-angle-down am-fr am-margin-right"></i>
                </a>
                <ul class="am-list am-collapse" id="auth-id-{$vo.id}">
                    <li class="am-nav-header"><i class="{$vo.icon}"></i> {$vo.title}</li>
                    {volist name="vo.child" id="v"}
                    <li {eq name="menu.cur.id" value="$v.id"}class="am-active"{/eq}">
                        <a href="{$v.name|url}">
                        <i class="{$v.icon}"></i> {$v.title} </a>
                    </li>
                    {/volist}
                </ul>
                {/empty}
            </li>
            {/volist}
        </ul>

    </aside>
    <main class="main">
        <header class="am-topbar">
            <ul class="am-nav am-nav-pills am-topbar-nav am-margin-horizontal-sm">
                <li><a href="javascript:;" data-collapsed="true" class="am-text-lg">
                    <span class="am-icon-outdent"></span>
                    </a>
                </li>
            </ul>
            <form class="am-topbar-form am-form-inline" method="get" role="search">
                <div class="am-dropdown" data-am-dropdown>
                    <input type="hidden" name="type" value="projects">
                    <button class="am-btn am-dropdown-toggle am-btn-default" data-am-dropdown-toggle>
                        全部 <span class="am-icon-angle-down"></span>
                    </button>
                    <ul class="am-dropdown-content">
                        <li><a href="#">产品</a></li>
                        <li><a href="#">设计</a></li>
                        <li><a href="#">开发</a></li>
                        <li><a href="#">测试</a></li>
                        <li><a href="#">运维</a></li>
                    </ul>
                </div>
                <input type="text" name="subject" class="am-form-field">
                <button class="am-btn am-btn-default am-icon-search" type="submit"></button>
            </form>

            <div class="am-topbar-right">
                <ul class="am-nav am-topbar-nav am-nav-pills">
                    <li class="am-margin-right" data-am-popover="{content: '消息通知', trigger: 'hover'}">
                        <a href="javascript:;" class="am-icon-bell-o am-mark"><sup style="top: 18px">6</sup></a>
                    </li>
                    <li class="am-margin-horizontal"data-am-popover="{content: '重建缓存', trigger: 'hover'}">
                        <a href="javascript:;" onclick="im.clearCache()" class="am-icon-refresh"></a>
                    </li>
                    <li class="am-dropdown am-avatar" data-am-dropdown="{trigger: 'hover' }">
                        <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <div class="am-avatar-img"><i class="am-icon-github"></i></div>
                            top-dante
                            <i class="am-icon-angle-down"></i>
                        </a>
                        <ul class="am-dropdown-content am-text-center am-text-sm">
                            <li><a href="{:url('settings/personal')}">个人信息</a></li>
                            <li><a href="javascript:;" onclick="im.get('/index/logout.html')">安全退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="am-page-header">
            <h2>{block name="name"}{/block}</h2>
            <div class="am-toolbar">{block name="toolbar"}{/block}</div>
            <div class="am-page-ext">{block name="ext"}{/block}</div>
        </div>
        <div class="am-page">
            {block name="page"}{/block}
        </div>
    </main>
</div>
<div class="am-message-group">
    <div class="am-message am-message-info">success notice</div>
    <div class="am-message am-message-success">success notice</div>
    <div class="am-message am-message-warn">success notice</div>
    <div class="am-message am-message-err">success notice</div>
</div>
{block name="modal"}{/block}
<script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/fa.js"></script>
{block name="js"}{/block}
</body>
</html>