{extend name="/public"/}
{block name="css"}

{/block}
{block name="page"}
    <div class="am-container">
        <section class="am-panel am-panel-default">
            <header class="am-panel-hd am-text-center am-padding-top-xl">
                <div class="am-icon-btn am-icon-github am-primary"></div>
                <div class="am-text-xl">admin</div>
            </header>
            <div class="am-panel-bd"></div>
            <header class="am-panel-hd">
                <h3 class="am-panel-title"><span class="am-icon-lock"></span> 修改密码</h3>
            </header>
            <div class="am-panel-bd">
                {include file="settings/repass"}
            </div>
        </section>
    </div>
{/block}
{block name="modal"}

{/block}
{block name="js"}

{/block}