<form action="" class="am-form am-form-horizontal">
    <div class="am-form-group">
        <label class="am-u-4 am-form-label">原密码</label>
        <div class="am-u-4">
            <input type="password" name="pa1" value="" placeholder="请输入当前密码">
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-4 am-form-label">新密码</label>
        <div class="am-u-4">
            <input type="password" name="pa2" value="" placeholder="请输入新密码">
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-4 am-form-label">重复密码</label>
        <div class="am-u-4">
            <input type="password" name="pa3" value="" placeholder="重复密码">
        </div>
    </div>
    <div class="am-u-6 am-u-offset-4">
        <div class="am-btn am-btn-primary am-icon-check"> 确认</div>
        <button type="reset" class="am-btn am-btn-default am-icon-close"> 取消</button>
    </div>
    <div class="am-margin-bottom-xl"></div>
</form>