.page-content{
    padding: 24px;
}
.status-primary{
    color: #1890ff;
    border: 1px solid #91d5ff;
    background-color: #e6f7ff
}
.status-success{
    border: 1px solid #b7eb8f;
    background-color: #f6ffed;
    color: #52c41a;
}
.status-error{
    color: #f5222d;
    border: 1px solid #ffa39e;
    background-color: #fff1f0;
}
.mr-10{
    margin-right: 10px;
}
.i-b{
    display: inline-block;
}
.ant-form-item{
    margin-bottom: 10px;
}