.page-content{
    padding: 24px;
}
.status-primary{
    background-color: #1890ff;
}
.status-success{
    background-color: #52c41a;
}
.status-error{
    background-color: #1890ff;
}
.status-warning{
    background-color: #f5222d;
}
.status-secondary{
    background-color: #1890ff;
}