.page{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    min-height: calc(100vh - 60px);

}
.page-header{
    background-color: #fff;
    padding: 16px 24px;
    margin-top: 1px;
}
.page-header h2 {
    margin: 10px 0 0;
}
.page-content{
    padding: 20px;
}
.status-primary{
    color: #1890ff;
    border: 1px solid #91d5ff;
    background-color: #e6f7ff
}
.status-success{
    border: 1px solid #b7eb8f;
    background-color: #f6ffed;
    color: #52c41a;
}
.status-error{
    color: #f5222d;
    border: 1px solid #ffa39e;
    background-color: #fff1f0;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.i-b{
    display: inline-block;
}
.text-lg{
    font-size: 18px;
}
.text-red{
    color: #f5222d !important;
}
.text-green{
    color: #52c41a !important;
}
.text-center{
    text-align: center;
}
.ant-form-item{
    margin-bottom: 10px;
}
.ant-form-item:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
}
.ant-btn-success {

}
.ant-btn {
    padding: 0 10px !important;
}
.ant-btn-sm {
    font-size: 12px !important;
}
.ant-btn > .anticon + span,
.ant-btn > span + .anticon {
    margin-left: 2px !important;
}
.row-striped {
    border-top: 1px solid #e8e8e8;
}
.row-striped:nth-of-type(2n+1){
    background-color: #fafafa;
}
.ant-bordered {
    border:1px solid #e8e8e8;
    padding: 2px;
}
.header-right {
    flex: auto;
    text-align: right;
}
.header-right>span {
    display: inline-block;
    padding: 0 15px;
    margin: 0 5px;
    cursor: pointer;
}
.header-right>span>a {
    display: block;
}
.header-right>span:hover{
    background-color: #fafafa;
}
.top-count sup{
    top: -18px !important;
    right: -5px !important;
}