{extend name="/public"/}
{block name="page"}
<header class="am-topbar">
    <h1 class="am-topbar-brand">
        <a href="#">Amaze UI</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="#">首页</a></li>
            <li><a href="#">项目</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    下拉 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li class="am-dropdown-header">职务</li>
                    <li><a href="#">1. 产品</a></li>
                    <li class="am-active"><a href="#">2. 设计</a></li>
                    <li><a href="#">3. 开发</a></li>
                    <li class="am-disabled"><a href="#">4. 测试</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#">5. 运维</a></li>
                </ul>
            </li>
        </ul>

        <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>

        <div class="am-topbar-right">
            <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>其他 <span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                    <li><a href="#">注册</a></li>
                    <li><a href="#">随便看看</a></li>
                </ul>
            </div>
        </div>

        <div class="am-topbar-right">
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">登录</button>
        </div>
    </div>
</header>
<header class="am-topbar am-topbar-inverse">
    <h1 class="am-topbar-brand">
        <a href="#">Amaze UI</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-only" data-am-collapse="{target: '#doc-topbar-collapse-2'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-2">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="#">首页</a></li>
            <li><a href="#">项目</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    下拉 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li class="am-dropdown-header">职务</li>
                    <li><a href="#">1. 产品</a></li>
                    <li class="am-active"><a href="#">2. 设计</a></li>
                    <li><a href="#">3. 开发</a></li>
                    <li class="am-disabled"><a href="#">4. 测试</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#">5. 运维</a></li>
                </ul>
            </li>
        </ul>

        <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>

        <div class="am-topbar-right">
            <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>其他 <span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                    <li><a href="#">注册</a></li>
                    <li><a href="#">随便看看</a></li>
                </ul>
            </div>
        </div>

        <div class="am-topbar-right">
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">登录</button>
        </div>
    </div>
</header>

<div class="am-container">
    <div class="am-panel am-panel-default">
        <div class="am-panel-bd">
            <button type="button" class="am-btn am-btn-default">默认样式</button>
            <button type="button" class="am-btn am-btn-primary">主色按钮</button>
            <button type="button" class="am-btn am-btn-secondary">次色按钮</button>
            <button type="button" class="am-btn am-btn-success">绿色按钮</button>
            <button type="button" class="am-btn am-btn-warning">橙色按钮</button>
            <button type="button" class="am-btn am-btn-danger">红色按钮</button>
            <a class="am-btn am-btn-link">链接</a>
        </div>
        <div class="am-panel-bd">
            <div class="am-btn-group">
                <button type="button" class="am-btn am-btn-default">左手</button>
                <button type="button" class="am-btn am-btn-default">猪手</button>
                <button type="button" class="am-btn am-btn-default">右手</button>
            </div>

            <div class="am-btn-group">
                <button type="button" class="am-btn am-btn-primary am-radius">左手</button>
                <button type="button" class="am-btn am-btn-primary am-radius">猪手</button>
                <button type="button" class="am-btn am-btn-primary am-radius">右手</button>
            </div>

            <div class="am-btn-group">
                <button type="button" class="am-btn am-btn-success am-round">左手</button>
                <button type="button" class="am-btn am-btn-success am-round">猪手</button>
                <button type="button" class="am-btn am-btn-success am-round">右手</button>
            </div>
            <hr/>
            <button type="button" class="am-btn am-btn-primary btn-loading-example">按钮 - button 元素</button> &nbsp;
            <input type="button" class="am-btn am-btn-secondary btn-loading-example" value="按钮 - input 元素" />
            <script>
                $('.btn-loading-example').click(function () {
                    var $btn = $(this)
                    $btn.button('loading');
                    setTimeout(function(){
                        $btn.button('reset');
                    }, 5000);
                });
            </script>

        </div>
        <div class="am-panel-bd"><ul class="am-list">
            <li><a href="#">大江东去，浪淘尽，千古风流人物。</a></li>
            <li><a href="#">故垒西边，人道是，三国周郎赤壁。</a></li>
            <li><a href="#">乱石穿空，惊涛拍岸，卷起千堆雪。</a></li>
            <li><a href="#">江山如画，一时多少豪杰。</a></li>
        </ul>
        </div>
        <div class="am-panel-bd">
            <div class="am-input-group am-input-group-lg">
                <span class="am-input-group-label">@</span>
                <input type="text" class="am-form-field" placeholder="Large Username">
            </div>

            <div class="am-input-group">
                <span class="am-input-group-label">@</span>
                <input type="text" class="am-form-field" placeholder="Default Username">
            </div>

            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">@</span>
                <input type="text" class="am-form-field" placeholder="Small Username">
            </div>


        </div>
        <div class="am-panel-bd">
            <form action="" class="am-form am-form-horizontal">
                <fieldset>
                    <legend>H5 原生表单验证</legend>
                    <div class="am-form-group">
                        <label class="am-form-label am-u-2">用户名：</label>
                        <div class="am-u-10">
                        <input type="text" id="doc-vld-name-1" maxlength="3" pattern="^\d+$" placeholder="输入用户名" class="am-form-field" required/>
                        </div>
                        </div>

                    <div class="am-form-group">
                        <label class="am-form-label am-u-2">邮箱：</label>
                        <div class="am-u-10">
                        <input type="email" id="doc-vld-email-1" placeholder="输入邮箱" required/>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-form-label am-u-2">评论：</label>
                        <div class="am-u-10">
                        <textarea id="doc-vld-ta-1" minlength="10" maxlength="100"></textarea>
                        </div>
                    </div>
                        <div class="am-u-offset-2 am-u-10">
                            <button class="am-btn am-btn-primary" type="submit">提交</button>
                        </div>

                </fieldset>
            </form>

        </div>
        <div class="am-panel-bd">
            <form action="">
                <select name="test" data-am-selected>
                    <option value="a">产品</option>
                    <option value="b" selected>设计</option>
                    <option value="o">开发</option>
                    <option value="m">测试</option>
                    <option value="d" disabled>运维</option>
                </select>
            </form>
            <br>
            <div class="am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>下拉列表 <span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content am-dropdown-primary">
                    <li><a href="#"><i class="am-icon-github"></i>产品</a></li>
                    <li class="am-active"><a href="#"><i class="am-icon-lastfm"></i>设计</a></li>
                    <li><a href="#"><i class="am-icon-pinterest"></i>开发</a></li>
                    <li class="am-disabled"><a href="#"><i class="am-icon-stack-overflow"></i>测试</a></li>
                    <li><a href="#"><i class="am-icon-windows"></i>运维</a></li>
                </ul>
            </div>

        </div>
        <div class="am-panel-bd">
            <div class="am-form-group">
                <h3>岗位</h3>
                <label class="am-checkbox-inline">
                    <input type="checkbox"  value="" data-am-ucheck> 前端
                </label>
                <label class="am-checkbox-inline">
                    <input type="checkbox"  value="" data-am-ucheck> 运维
                </label>
                <label class="am-checkbox-inline">
                    <input type="checkbox"  value="" data-am-ucheck> 设计
                </label>
            </div>

            <div class="am-form-group">
                <h3>性别</h3>
                <label class="am-radio-inline">
                    <input type="radio" name="radio10" value="male" data-am-ucheck> 男
                </label>
                <label class="am-radio-inline">
                    <input type="radio" name="radio10" value="female" data-am-ucheck> 女
                </label>
                <label class="am-radio-inline">
                    <input type="radio" name="radio10" value="pig" data-am-ucheck> 保密
                </label>
            </div>

        </div>
        <div class="am-panel-bd">
            <style>
                .am-tabs-nav li {
                    position: relative;
                    z-index: 1;
                }

                .am-tabs-nav .am-icon-close {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    color: #888;
                    cursor: pointer;
                    z-index: 100;
                }

                .am-tabs-nav .am-icon-close:hover {
                    color: #333;
                }

                .am-tabs-nav .am-icon-close ~ a {
                    padding-right: 25px!important;
                }
            </style>

            <div class="am-tabs" data-am-tabs>
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="javascript: void(0)">选项A</a></li>
                    <li><a href="javascript: void(0)">选项B</a></li>
                    <li><a href="javascript: void(0)">选项C</a></li>
                </ul>

                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-active">
                        大江东去，浪淘尽，千古风流人物。
                        故垒西边，人道是，三国周郎赤壁。
                        乱石穿空，惊涛拍岸，卷起千堆雪。
                        江山如画，一时多少豪杰。
                        遥想公瑾当年，小乔初嫁了，雄姿英发。
                        羽扇纶巾，谈笑间，樯橹灰飞烟灭。
                        故国神游，多情应笑我，早生华发。
                        人生如梦，一尊还酹江月。A
                    </div>
                    <div class="am-tab-panel">
                        大江东去，浪淘尽，千古风流人物。
                        故垒西边，人道是，三国周郎赤壁。
                        乱石穿空，惊涛拍岸，卷起千堆雪。
                        江山如画，一时多少豪杰。
                        遥想公瑾当年，小乔初嫁了，雄姿英发。
                        羽扇纶巾，谈笑间，樯橹灰飞烟灭。
                        故国神游，多情应笑我，早生华发。
                        人生如梦，一尊还酹江月。B
                    </div>
                    <div class="am-tab-panel">
                        大江东去，浪淘尽，千古风流人物。
                        故垒西边，人道是，三国周郎赤壁。
                        乱石穿空，惊涛拍岸，卷起千堆雪。
                        江山如画，一时多少豪杰。
                        遥想公瑾当年，小乔初嫁了，雄姿英发。
                        羽扇纶巾，谈笑间，樯橹灰飞烟灭。
                        故国神游，多情应笑我，早生华发。
                        人生如梦，一尊还酹江月。 C
                    </div>
                </div>
            </div>

        </div>
        <div class="am-panel-bd">
            <input type="number"  class="am-form-field am-inputnumber my-inputnumber2" data-am-inputnumber="{max:10}" />
            <input type="number"  class="am-form-field am-inputnumber" data-am-inputnumber disabled />

        </div>
        <div class="am-panel-bd">
            <span class="am-badge">1</span>
            <span class="am-badge am-badge-primary">2</span>
            <span class="am-badge am-badge-secondary">3</span>
            <span class="am-badge am-badge-success">4</span>
            <span class="am-badge am-badge-warning">5</span>
            <span class="am-badge am-badge-danger">6</span>
            <span class="am-badge am-badge-success">Allmobilize</span>
            <br>
            <a class="am-badge am-badge-primary">Free</a>
            <a class="am-badge am-badge-secondary">Secondary</a>
            <a class="am-badge am-badge-success">Success</a>
            <a class="am-badge am-badge-warning">Warning</a>
            <a class="am-badge am-badge-danger">Danger</a>
        </div>
        <div class="am-panel-bd">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd">面板标题</div>
                <div class="am-panel-bd">
                    面板内容
                </div>
            </div>

            <section class="am-panel am-panel-default">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title">面板标题</h3>
                </header>
                <div class="am-panel-bd">
                    面板内容
                </div>
            </section>
        </div>
        <div class="am-panel-bd">
            <table class="am-table">
                <thead>
                <tr>
                    <th>网站名称</th>
                    <th>网址</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Amaze UI</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
                <tr>
                    <td>Amaze UI</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
                <tr class="am-active">
                    <td>Amaze UI(Active)</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
                <tr>
                    <td>Amaze UI</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>Amaze UI</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="am-panel-bd">
            <div class="am-alert am-alert-success" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。</p>
            </div>
            <div class="am-alert am-alert-warning" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。</p>
            </div>
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。</p>
            </div>
            <div class="am-alert am-alert-secondary" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。</p>
            </div>

        </div>
        <div class="am-panel-bd">
            <div class="am-panel-group" id="accordion">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
                        <h4 class="am-panel-title" >
                            折叠面板标题01
                        </h4>
                        <span class="am-icon-caret-left"></span>
                    </div>
                    <div id="do-not-say-1" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd">
                            折叠面板内容显示区域01
                        </div>
                    </div>
                </div>
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
                        <h4 class="am-panel-title" >
                            折叠面板标题02
                        </h4>
                        <span class="am-icon-caret-left"></span>
                    </div>
                    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd">
                            折叠面板内容显示区域02
                        </div>
                    </div>
                </div>
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">
                        <h4 class="am-panel-title">
                            折叠面板标题03
                        </h4>
                        <span class="am-icon-caret-left"></span>
                    </div>
                    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd">
                            折叠面板内容显示区域03
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="am-panel-bd">
            <button class="am-btn am-btn-primary" data-am-popover="{position: 'left', content: '文字内容'}">向左弹出</button>
            <button class="am-btn am-btn-primary" data-am-popover="{position: 'bottom', content: '文字内容'}">向下弹出</button>
            <button class="am-btn am-btn-primary" data-am-popover="{position: 'right', content: '文字内容'}">向右弹出</button>

        </div>
        <div class="am-panel-bd">
            <ul class="am-nav">
                <li><a href="#"><span class="am-icon-home"></span>首页</a></li>
                <li class="am-nav-header">开始使用</li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系我们</a></li>
                <li class="am-nav-divider"></li>
                <li><a href="#">响应式</a></li>
                <li><a href="#">移动优先</a></li>
            </ul>

        </div>
        <div class="am-panel-bd">
            <ul class="am-nav am-nav-pills">
                <li class="am-active"><a href="#">首页</a></li>
                <li><a href="#">开始使用</a></li>
                <li><a href="#">按需定制</a></li>
            </ul>

        </div>
        <div class="am-panel-bd">
            <ul class="am-nav am-nav-pills">
                <li class="am-active"><a href="#">首页</a></li>
                <li><a href="#">项目</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        菜单 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">Header</li>
                        <li><a href="#">1. 一行代码，简单快捷</a></li>
                        <li class="am-active"><a href="#">2. 网址不变且唯一</a></li>
                        <li><a href="#">3. 内容实时同步更新</a></li>
                        <li class="am-disabled"><a href="#">4. 云端跨平台适配</a></li>
                        <li class="am-divider"></li>
                        <li><a href="#">5. 专属的一键拨叫</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="am-panel-bd">
            <ul class="am-pagination">
                <li class="am-disabled"><a href="#">&laquo;</a></li>
                <li class="am-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>


            <ul class="am-pagination">
                <li><a href="">&laquo; Prev</a></li>
                <li><a href="">Next &raquo;</a></li>
            </ul>

        </div>
        <div class="am-panel-bd">
            <ul class="am-pagination am-pagination-centered">
                <li class="am-disabled"><a href="#">&laquo;</a></li>
                <li class="am-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>

        </div>
        <div class="am-panel-bd">
            <div class="am-g am-g-gutter">
                <div class="am-u-4">4</div>
                <div class="am-u-8">8</div>
            </div>

        </div>
        <div class="am-panel-bd">
            <ul class="am-avg-4 am-thumbnails">
                <li><img class="am-thumbnail" src="http://s.amazeui.org/media/i/demos/2017-1-19-1.png" /></li>
                <li><img class="am-thumbnail" src="http://s.amazeui.org/media/i/demos/2017-1-19-2.png" /></li>
                <li><img class="am-thumbnail" src="http://s.amazeui.org/media/i/demos/2017-1-19-3.png" /></li>
                <li><img class="am-thumbnail" src="http://s.amazeui.org/media/i/demos/2017-1-19-4.png" /></li>
            </ul>

        </div>
        <div class="am-panel-bd">
            <ol class="am-breadcrumb am-breadcrumb-slash">
                <li><a href="#">首页</a></li>
                <li><a href="#">分类</a></li>
                <li class="am-active">内容</li>
            </ol>

        </div>
        <div class="am-panel-bd"></div>
    </div>
</div>
{/block}
