{extend name="public"/}
{block name="name"}项目列表{/block}
{block name="page"}
<h2 class="am-cf">
    项目列表
    <small class="am-fr">项目总数：{$list->total()}</small>
</h2>
<hr>
<div class="am-cf am-margin-bottom">
    <a href="javascript:;" onclick="im.modal('#add',600)" class="am-btn am-btn-primary am-icon-plus"> 项目</a>
    <a href="{:url('create_list')}" class="am-btn am-btn-primary am-icon-plus"> 报价</a>
    <a href="{:url('finance/create_item')}" class="am-btn am-btn-primary am-icon-plus"> 收支</a>

</div>
<ul class="am-nav am-nav-tab">
    <li {empty name="getStatus"}class="am-active"{/empty}>
        <a href="{:url('index')}?interval={$interval}&status">全部</a>
    </li>
    {volist name="status" id="vo"}
    <li {eq name="vo.status" value="$getStatus"}class="am-active"{/eq}>
        <a href="{:url('index')}?status={$vo.status}&interval={$interval}">{$vo.status_name}</a></li>
    {/volist}
    <li class="am-nav-tab-last">
        <form class="am-form am-form-inline am-fr">
            <div class="am-form-group">
                <div class="am-dropdown" data-am-dropdown>
                    <button class="am-btn am-btn-default am-dropdown-toggle"
                            data-am-dropdown-toggle>时间区间 <span class="am-icon-caret-down"></span>
                    </button>
                    <ul class="am-dropdown-content">
                        <li><a href="{:url('index')}?status={$getStatus}&interval">全部</a></li>
                        <li><a href="{:url('index')}?status={$getStatus}&interval=1">最近一个月</a></li>
                        <li><a href="{:url('index')}?status={$getStatus}&interval=3">最近三个月</a></li>
                        <li><a href="{:url('index')}?status={$getStatus}&interval=6">最近半年</a></li>
                        <li><a href="{:url('index')}?status={$getStatus}&interval=12">最近一年</a></li>
                        <li><a href="{:url('index')}?status={$getStatus}&interval=36">三年</a></li>
                    </ul>
                </div>
            </div>
            <div class="am-form-group" style="width: 200px">
                <input type="text" name="subject" placeholder="输入项目名称搜索">
            </div>
            <button type="submit" class="am-btn am-btn-default">
                <span class="am-icon-search"></span> 搜索</button>
        </form>
    </li>
</ul>

<table class="am-table am-table-project am-margin-top">
    <colgroup>
        <col width="50">
        <col>
        <col width="80">
        <col width="120">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="180">
    </colgroup>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td>
            <a href="{:url('projects/details',['id'=>$vo['id']])}">
            <div class="am-icon-btn am-radius {$vo.statusValue['color']}">{$vo.subject|mbs=1}</div>
            </a>
        </td>
        <td>
            <a href="{:url('projects/details',['id'=>$vo['id']])}" class="am-title">{$vo.subject}</a>
            <div class="am-text-muted">{$vo.customer}</div>
        </td>
        <td>
            <span class="am-badge {$vo.statusValue.color}">{$vo.statusValue['status_name']}</span>
        </td>
        <td>
            <span class="am-text-muted">项目金额</span>
            <div class="am-text-danger am-text-lg">￥{$vo.price}</div>
        </td>
        <td>
            <span class="am-text-muted">项目经理</span>
            <div>{$vo.username}</div>
        </td>
        <td>
            <span class="am-text-muted">接单时间</span>
            <div>{$vo.dateline|date='Y-m-d'}</div>
        </td>
        <td>
            <span class="am-text-muted">完工时间</span>
            <div>{$vo.end_time|date='Y-m-d'}</div>
        </td>
        <td>
            <div class="am-table-btn">
                <a href="{:url('projects/details',['id'=>$vo['id']])}">详情</a>
                <a href="{:url('ed_project',['id'=>$vo['id']])}">编辑</a>
                <a href="javascript:;" onclick="edStatus({$vo.id},{$vo.status})">进度</a>
                <a href="javascript:;" onclick="delProject({$vo.id})">删除</a>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
{$list->render()|raw}
{/block}
{block name="modal"}
<div class="am-modal am-modal-confirm" tabindex="-1" id="edStatus">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">项目进度修改</div>
        <div class="am-modal-bd">
            <form action="{:url('ed_project_status')}" method="POST" id="eps-01" role="form" class="am-form">
                <input type="hidden" name="id" value="">
                <div class="am-form-group am-margin-bottom-0">
                    <div class="am-btn-group am-btn-group-sm" data-am-button="">
                        {volist name="status" id="vo"}
                        <label class="am-btn am-btn-default">
                            <input type="radio" name="status" value="{$vo.status}"> {$vo.status_name}
                        </label>
                        {/volist}
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn am-btn am-btn-default" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn am-btn am-btn-primary" onclick="im.submit('#eps-01',this)" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="del">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除项目确认</div>
        <div class="am-modal-bd">
            你将删除选中项目，请谨慎操作，此操作不可逆
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn am-btn am-btn-default" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn am-btn am-btn-primary" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
{include file="projects/block_add_project"/}
{/block}
{block name="js"}
<script>
    function edStatus(e,s){
        let m = $('#edStatus');
        m.find('[name="id"]').val(e);
        im.modal('#edStatus','410px');
    }
    function delProject(e){
        let u = "{:url('del_project')}?id="+e;
        $('#del').find('[data-am-modal-confirm]').attr('onclick',"im.get('"+u+"')");
        im.modal('#del');
    }
</script>
{/block}