{extend name="/public"/}
{block name="name"}项目概览{/block}
{block name="page"}
<ul class="am-avg-4 am-avg-gutter">
    <li>
        <section class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-text-gray">月项目
                    <span class="am-fr am-icon-info-circle"
                          data-am-popover="{content: '当前月项目统计',position:'bottom',trigger: 'hover'}"></span>
                </div>
                <div class="am-text-max am-margin-top">
                    19
                    <span class="am-text-default am-fr">月同比 50%
                        <i class="am-icon-caret-up am-text-danger"></i>
                    </span>
                </div>
            </div>
        </section>
    </li>
    <li>
        <section class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-text-gray">季度项目
                    <span class="am-fr am-icon-info-circle"
                          data-am-popover="{content: '当前季度项目统计',position:'bottom',trigger: 'hover'}"></span>
                </div>
                <div class="am-text-max am-margin-top">
                    192
                    <span class="am-text-default am-fr">季度同比 50%
                        <i class="am-icon-caret-up am-text-danger"></i>
                    </span>
                </div>
            </div>
        </section>
    </li>
    <li>
        <section class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-text-gray">年项目
                    <span class="am-fr am-icon-info-circle"
                          data-am-popover="{content: '当前年项目统计',position:'bottom',trigger: 'hover'}"></span>
                </div>
                <div class="am-text-max am-margin-top">
                    752
                    <span class="am-text-default am-fr">年同比 50%
                        <i class="am-icon-caret-up am-text-danger"></i>
                    </span>
                </div>
            </div>
        </section>
    </li>
    <li>
        <section class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-text-gray">总项目
                    <span class="am-fr am-icon-info-circle"
                          data-am-popover="{content: '项目统计',position:'bottom',trigger: 'hover'}"></span>
                </div>
                <div class="am-text-max am-margin-top">
                    1952
                </div>
            </div>
        </section>
    </li>
</ul>
<!--end-->
<section class="am-panel am-panel-default">
    <div class="am-panel-bd am-position-relative">
        <div class="select-view">
            <span class="am-btn am-btn-default am-btn-sm" onclick="setFor('',this)">本月</span>
            <span class="am-btn am-btn-default am-btn-sm" onclick="setFor(1,this)">本季度</span>
            <span class="am-btn am-btn-default am-btn-sm" onclick="setFor(2,this)">半年</span>
            <span class="am-btn am-btn-default am-btn-sm" onclick="setFor(3,this)">全年</span>
        </div>
        <div id="chart" style="height: 360px"></div>
    </div>
</section>
<div class="am-g am-g-gutter">
    <div class="am-u-6">
        <section class="am-panel am-panel-default">
            <header class="am-panel-hd">
                <h3 class="am-panel-title">
                    <span class="am-icon-tasks am-text-primary"></span> 进行中项目</h3>
            </header>
            <div class="am-panel-bd">
                面板内容
            </div>
        </section>

    </div>
    <div class="am-u-6">
        <section class="am-panel am-panel-default">
            <header class="am-panel-hd">
                <h3 class="am-panel-title">
                    <span class="am-icon-check-square am-text-success"></span> 已完成项目</h3>
            </header>
            <div class="am-panel-bd">
                面板内容
            </div>
        </section>

    </div>
</div>
{/block}
{block name="modal"}

{/block}
{block name="js"}
{js file="/static/js/echarts.min.js"/}
{js file="/static/js/pro_charts.js"/}
<script>

</script>
{/block}