{extend name="/public"/}
{block name="css"}

{/block}
{block name="page"}
<ul class="am-avg-4 am-avg-gutter">
    <li>
        <section class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-text-gray">月项目
                    <span class="am-fr am-icon-info-circle"
                          data-am-popover="{content: '当前月项目统计',position:'bottom',trigger: 'hover'}"></span>
                </div>
                <div class="am-text-max am-margin-top">
                    19
                    <span class="am-text-default am-fr">月同比 50%
                        <i class="am-icon-caret-up am-text-danger"></i>
                    </span>
                </div>
            </div>
        </section>
    </li>
    <li>
        <section class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-text-gray">季度项目
                    <span class="am-fr am-icon-info-circle"
                          data-am-popover="{content: '当前季度项目统计',position:'bottom',trigger: 'hover'}"></span>
                </div>
                <div class="am-text-max am-margin-top">
                    192
                    <span class="am-text-default am-fr">季度同比 50%
                        <i class="am-icon-caret-up am-text-danger"></i>
                    </span>
                </div>
            </div>
        </section>
    </li>
    <li>
        <section class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-text-gray">年项目
                    <span class="am-fr am-icon-info-circle"
                          data-am-popover="{content: '当前年项目统计',position:'bottom',trigger: 'hover'}"></span>
                </div>
                <div class="am-text-max am-margin-top">
                    752
                    <span class="am-text-default am-fr">年同比 50%
                        <i class="am-icon-caret-up am-text-danger"></i>
                    </span>
                </div>
            </div>
        </section>
    </li>
    <li>
        <section class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-text-gray">总项目
                    <span class="am-fr am-icon-info-circle"
                          data-am-popover="{content: '项目统计',position:'bottom',trigger: 'hover'}"></span>
                </div>
                <div class="am-text-max am-margin-top">
                    1952
                </div>
            </div>
        </section>
    </li>
</ul>
<!--end-->
<section class="am-panel am-panel-default">
    <header class="am-panel-bd">
        <ul class="am-nav am-nav-tab">
            <li class="am-active"><a href="#">项目概览</a></li>
            <li class="am-nav-tab-last">本周</li>
            <li class="am-nav-tab-last">本月</li>
            <li class="am-nav-tab-last">季度</li>
            <li class="am-nav-tab-last">全年</li>
        </ul>
    </header>
    <div class="am-panel-bd">
        面板内容
    </div>
</section>

{/block}
{block name="modal"}

{/block}
{block name="js"}

{/block}