{extend name="/public"/}
{block name="name"}报价管理{/block}
{block name="toolbar"}
<div class="am-margin-top"></div>
<div class="am-btn am-btn-primary am-icon-plus am-btn-sm"> 新建</div>
{/block}
{block name="page"}
   <section class="am-panel am-panel-default">
       <div class="am-panel-bd">
           <table class="am-table am-table-hover">
               <thead>
               <tr>
                   <th>名称</th>
                   <th width="200">客户</th>
                   <th width="100">金额</th>
                   <th width="100">报价人</th>
                   <th width="160">日期</th>
                   <th width="100">状态</th>
                   <th width="200">管理</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <td>表格内容1</td>
                   <td>表格内容1</td>
                   <td>表格内容1</td>
                   <td>表格内容1</td>
                   <td>表格内容1</td>
                   <td>表格内容1</td>
                   <td>表格内容1</td>
               </tr>
               </tbody>
           </table>
       </div>
   </section>
{/block}
{block name="modal"}

{/block}
{block name="js"}

{/block}