{extend name="/public"/}
{block name="css"}

{/block}
{block name="page"}
    <h2>报价管理</h2>
    <hr>
    <div class="am-margin-bottom">
        <div class="am-btn am-btn-primary am-icon-plus"> 新建</div>
    </div>
    <table class="am-table am-table-hover">
        <thead>
        <tr>
            <th>名称</th>
            <th width="200">客户</th>
            <th width="100">金额</th>
            <th width="100">报价人</th>
            <th width="160">日期</th>
            <th width="100">状态</th>
            <th width="200">管理</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>表格内容1</td>
            <td>表格内容1</td>
            <td>表格内容1</td>
            <td>表格内容1</td>
            <td>表格内容1</td>
            <td>表格内容1</td>
            <td>表格内容1</td>
        </tr>
        </tbody>
    </table>
{/block}
{block name="modal"}

{/block}
{block name="js"}

{/block}